@page
@model nature.Pages_Natures.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>natureProgramme</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="natureProgramme.name" class="control-label"></label>
                <input asp-for="natureProgramme.name" class="form-control" />
                <span asp-validation-for="natureProgramme.name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="natureProgramme.PowerAcquisitionDate" class="control-label"></label>
                <input asp-for="natureProgramme.PowerAcquisitionDate" class="form-control" />
                <span asp-validation-for="natureProgramme.PowerAcquisitionDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="natureProgramme.Use" class="control-label"></label>
                <input asp-for="natureProgramme.Use" class="form-control" />
                <span asp-validation-for="natureProgramme.Use" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="natureProgramme.example" class="control-label"></label>
                <input asp-for="natureProgramme.example" class="form-control" />
                <span asp-validation-for="natureProgramme.example" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
